<header>
  <div class="g-container flex-head">
    <div class="logo flex-row">
      <a href="#" title="shkafkupebel.ru - Домашняя страница" rel="home">
      </a>
    </div>
    <div class="undonav-nav flex-column">
      <nav>
        <ul class="menu-main flex-row">
          <li><a href="#" title="главная">Главная</a></li>
          <li><a href="#" title="Шкафы-купе">Шкафы-купе</a></li>
          <li><a href="#" title="Гардеробные">Гардеробные</a></li>
          <li><a href="#" title="Гардеробные">Статьи</a></li>
          <li><a href="#" title="Контакты">Контакты</a></li>
        </ul>
      </nav>
    </div>
    <section class="contacts flex-column">
      <a href="tel:+79202068398">  +7(920)-206-83-98</a>
      <a href="https://vk.com/shkafkupebel" target="_blank">  vk.com/shkafkupebel</a>
    </section>
  </div>
</header>