<header>
  <div class="g-container">
      <nav id="globalnav">
        <ul class="gn-list">
          <li class="gn-item"><a class="logo" href="/" 
              title="shkafkupebel.ru - Домашняя страница" rel="home"></a></li>
          <li class="gn-item"><a href="/" title="главная">Главная</a></li>
          <li class="gn-item"><a href="#" title="Шкафы-купе">Мебель</a></li>
          <li class="gn-item"><a href="#" title="Гардеробные">Блог</a></li>
          <li class="gn-item"><a href="#" title="Гардеробные">О себе</a></li>
        </ul>
      </nav>
    
<!--     <section class="contacts flex-column">
      <a href="tel:+79202068398">  +7(920)-206-83-98</a>
      <a href="https://vk.com/shkafkupebel" target="_blank">  vk.com/shkafkupebel</a>
    </section> -->
  </div>
</header>