{% extends "base.html" %}
{% load staticfiles %}
{% block title %}К-МЕБЕЛЬ|Главная{% endblock %}

{% block content %}
<main class="g-container" role="main">
   <h1 class="main_title">Шкафы-купе . Гардеробные . Шкафы платяные</h1>
   <h2 class="main_title">на заказ в Белгороде</h2>
  <div class="sticker_block flex-row">
    <div id="stic_1" class="sticker">
      <div class="stick_img_wrap">
        <img src="{% static 'core/images/dsgn/operator.svg' %}" alt="оператор">
      </div><span></span>      
      <p>Мы работаем онлайн Задать вопрос</p>
    </div>
    <div id="stic_2" class="sticker">
      <div class="stick_img_wrap">
        <img src="{% static 'core/images/dsgn/shkaf.svg' %}" alt="шкаф">
      </div><span></span>
      <p>Получить дизайн проект бесплатно</p>
    </div>
    <div id="stic_3" class="sticker">
      <div class="stick_img_wrap">
        <img src="{% static 'core/images/dsgn/saw.svg' %}" alt="пила">
      </div><span></span>
      <p>Преимущества нашего производства</p>
    </div>
  </div>
  <div style="text-align: center;">
      <button class="bt_order" name="b_order" value="1" type="submit">сделать заказ</button>
  </div>
  
{% for data in coredata_text %}
{{ data.text | safe }}
{% endfor %}
</main>
{% endblock %}

