{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <!--[if lt IE 9]> 
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> 
    <![endif]-->
    <link rel="icon" type="image/x-icon" href="{% static 'core/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'core/css/corefonts.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/core.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/fontello.css' %}" />
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}" />
    <meta charset="utf-8">
    <title>{% block title %}К-МЕБЕЛЬ{% endblock %}</title>
</head>

<body>
    
{% block header %}
{% include 'core/header.html' %}
{% endblock %}
<main class="g-container" role="main">
{% block content %}
{% include template_content %}
{% endblock %}
</main>
 <footer></footer>   
</body>
</html>