
* {
  border: black;
  border-width: thin;
}

body {
  background-color: #E6E6E6;
  margin: 0;  
  min-width: 320px;
  font-size: 100%;
  font-family: "Helvetica","Arial",sans-serif;
  font-weight: lighter;
  letter-spacing: 0.05em;
  user-select: none;
}

main {
  background-color: #E6E6E6;
  height: 100%;
}

a {
  /*text-transform: uppercase;*/
  text-decoration: none;
}

.g-container {
  width: 70% ;
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;    
}

.flex-column {
  display: flex;
  flex-flow: column wrap;
}

.header_main {
  background-color: rgba(43,49,57,0.9);
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 50px;
  top: 0;
}

/*Настройка главного меню и шапки*/

#globalnav {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-weight: 100;  
  overflow: hidden;
}

.gn-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.gn-list a {
  color: #fff
}

.logo {
  background-image: url('../images/dsgn/logo_w.svg');
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  display: inline-block;
  vertical-align: middle;
}

/*Первый заголовк на главной странице*/

.main_title {
  font-weight: bold;
  text-transform: uppercase;
  color: #4E5E7E;
  text-align: center;
}

/*Настройка стикеров*/

.sticker_block {
  justify-content: space-around;
  align-items: center;
}

.sticker {
  width: 260px;
  height: 340px;
  margin: 20px 0;
  overflow: hidden;
  font-size: 22px;
  text-align: center;
  color: #fff;
}

.stick_img_wrap {
  height: 240px;
  width: 260px;
  /*border-bottom: 1px solid #E6E6E6;*/
}

.sticker>span {
  width: 80%;
  content: '';
  border-bottom: 1px solid #E6E6E6;
  align-self: center;
}

.sticker, .stick_img_wrap {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.sticker p {
  padding: 0 10px;
}

#stic_1 {
  background-color: #4E5E7E;
}

#stic_2 {
  background-color: #939E62;
}

#stic_3 {
  background-color: #BE7682;
}

/*Кнопка для заказ*/

.bt_order {
  font-family: Helvetica;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: lighter;
  font-size: 32px;
  width: 330px;
  height: 70px;
  margin: 15px 0;
  background-color: #ff6600;
  color: #fff;
}

/*Блок Как мы работаем*/
.howwork {
  align-items: center;
}

.howwork h2 {
  letter-spacing: 0.1em;
  font-weight: lighter;
  font-size: 32px;
}

.howwork figure {
  width: 150px;
  margin: 10px;
  text-align: center;
  font-size: 16px;
}

.howwork img {
  width: 140px;
  height: 140px;
}

.howwork div {
  width: 100%;
  justify-content: space-between;
}


footer {
    background-color: #466B8B;
    height: 160px;
}

@media screen {
    
}