/*Helvetica*/
@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica/Helvetica-Light.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica/Helvetica-Light-Oblique.otf") format("opentype");
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica/Helvetica-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica/Helvetica-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica/HelveticaNeueCyr-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
