@font-face {
  font-family:'SF Display Light';
  font-style:normal;
  font-weight:100;
  src: url("../fonts/SF Display Light.ttf") format("truetype");
}

@font-face {
  font-family:'SF Display Medium';
  font-style:normal;
  font-weight:100;
  src: url("../fonts/SF Display Medium.ttf") format("truetype");
}

@font-face {
  font-family:'SFUI Text Light';
  font-style:normal;
  font-weight:100;
  src: url("../fonts/SFUIText-Light.ttf") format("truetype");
}