@font-face {
    font-family:'fontello';
    font-style:normal;
    font-weight:100;
    src: url("../fonts/fontello.ttf") format("ttf")
}

@font-face {
    font-family:'SF Display Light';
    font-style:normal;
    font-weight:100;
    src: url("../fonts/SF Display Light.ttf") format("ttf")
}

@font-face {
    font-family:'SF Display Medium';
    font-style:normal;
    font-weight:100;
    src: url("../fonts/SF Display Medium.ttf") format("ttf")
}