
* {
border: black;
  border-width: thin;
  /*border-style: solid;*/
}

body {
  margin: 0;
  font-size: 100%;
  font-family: "SF Display Light","SF Display Medium", "fontello", 
               "Helvetica Neue","Helvetica","Arial",sans-serif;
  min-width: 320px;
}

a {
  /*text-transform: uppercase;*/
  text-decoration: none;
}

.g-container {
  width: 80% ;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  /*background-color: #EF0F1F;*/
}

.flex-row {
  display: flex;
  flex-flow: row wrap;    
}

.flex-column {
  display: flex;
  flex-flow: column wrap; 
}

header {
  background-color: rgba(43,49,57,0.9);
  position: fixed;
}

.flex-head {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.logo {
  /*background-color: #F1DF0DFF ;*/
  background-image: url('../images/logo_w.svg');
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  display: inline-block;
}

#globalnav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: block;
  margin: 0;
  width: 100%;
  min-width: 1024px;
  height: 50px;
  max-height: 50px;
  background: rgba(0,0,0,0.8);
  font-size: 24px;
  user-select: none;
}

#globalnav .ac-gn-header {
    display: none;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    overflow: hidden;
}

#globalnav .gn-item {
    display: inline-block;
    position: relative;
    height: 44px;
    z-index: 1;
    vertical-align: top;
}



.contacts {
    /*background-color: #D02EC2FF;*/
  margin: 5px 5px 5px 5px;
  justify-content: flex-end;
}

.contacts a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

#slide {
/*  background-image: url('../images/design/slide.png');
    background-color: #416685;
    background-repeat: no-repeat;
  background-position: center;
  background-size: cover;*/
    width: auto;
    height: 500px;
}

#slider {
  width: 100%;
  height: 500px;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  justify-content: center;
  background-color: #466B8B;
}

#slider img {
    height: 100%;
}

#parts {
    width: 350px;
    height: 350px;
    justify-content: space-between;
    align-content: space-between;
    align-self: center;
}

.part {
    width: 150px;
    height: 150px;
    background-color: #fff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
}

.part img {
    height: 80%;
    width: auto;
}

.part p {
    margin: 0;
}

.part:hover {
    box-shadow: 0 0 40px 4px #305575;
}

#showcase {
    background-color: #B7CBDB;
    height: 200px;
}

main {
    background-color: #fff;
    height: 100%;
}

footer {
    background-color: #466B8B;
    height: 160px;
}

@media screen {
    
}